@page "/employeePage";
@using DriveIt.Model;
@using DriveIt.Services;
@inject RentalService RentalService
<h3>Aktualne wypożyczenia</h3>


<div class="row">
    <Grid TItem="Rental"
        Class="table table-striped"
        AllowPaging="true"
        PageSizeSelectorVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20,30,50 })"
        AllowSorting="true"
        Data="Rentals"
        AllowRowClick="true"
        Responsive="true">

        <GridColumns>
            <GridColumn TItem="Rental" HeaderText="Wypożyczający" SortKeySelector="item => item.UserId">@context.UserId</GridColumn>
            <GridColumn TItem="Rental" HeaderText="Samochód" SortKeySelector="item => item.Car.Brand">@context.Car.Brand</GridColumn>
            <GridColumn TItem="Rental" HeaderText="Początek wypożyczenia" SortKeySelector="item => item.StartDate">@context.StartDate</GridColumn>
            <GridColumn TItem="Rental" HeaderText="Koniec wypożyczenia" SortKeySelector="item => item.StartDate">@context.StartDate.AddDays(7) +  </GridColumn>
        </GridColumns>
    </Grid> 
</div> 

@code {
    List<Rental> Rentals = [];
    protected override async Task OnInitializedAsync()
    {
        await LoadRentalsAsync();
    }

    private async Task LoadRentalsAsync()
    {
		Rentals = await RentalService.GetRentalsAsync();
	}
}
